onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=ssh2
onlyBuiltDependencies[]=@scarf/scarf
